<launch>
  <!-- Node to launch necessary files from Jetson -->

  <!-- Launch hackbike serial -->
  <!-- <node pkg="hackbike" type="hackbike_serial" name="hackbike_serial_node" output="screen"/> -->

  <!-- Launch data sender node -->
  <param name="mode" default="pedestrian"/>
  <node pkg="panasonic" type="send_data_to_bike.py" name="data_sender_node" output="screen"/>

  <!-- Start tensorflow node -->
  <arg name="tensorflow" default="true"/>
  <group if="$(arg tensorflow)">
    <include file="$(find panasonic)/launch/start_tensorflow.launch"/>
  </group>

  <include file="$(find panasonic)/launch/start_arduino.launch"/>

</launch>
